@font-face {
	font-family: 'Waping';
	src: url('https://cdn.jsdelivr.net/gh/waping-kr/fonts/Waping.woff') format('woff');
	font-weight: 400;
	font-style: normal;
 }
  
 body, * { 
	font-family: 'Waping';
 }
 
@media only screen and (max-width:770px) {
body{font-size:14px; }
	
#wrap {height:100%;}
#header { position:relative;width:100%; height:52px; border-bottom: 1px solid #ddd;}
#container_wrap {margin:-52px 0 -110px; width:100%; min-height:100%;  }
#container_wrap #container {padding:52px 0 110px;}
#footer {width:100%;height:110px; }


/*  라디오 버튼  */
input[type=radio].radiobox {display:none; }
input[type=radio].radiobox + label {padding:5px 10px 5px 30px;}

	
	
	
/* input */
input{width:100%; border: 0;background: transparent; font-size:100%; vertical-align: top;-webkit-appearance: none; }
.input_100{width:100%; height:40px; background:#fff; border:1px solid #c1c8d1; text-indent:10px; box-sizing:border-box; font-size:13px; line-height:40px; }
.input_150{width:100%; height:40px; background:#fff; border:1px solid #c1c8d1; text-indent:10px; box-sizing:border-box; font-size:13px; line-height:40px;}

.input_200{width:200px; height:40px; background:#fff; border:1px solid #c1c8d1; text-indent:10px; box-sizing:border-box; font-size:13px; line-height:40px;}
.input_300{width:100%; height:40px; background:#fff; border:1px solid #c1c8d1; text-indent:10px; box-sizing:border-box; font-size:13px; line-height:40px;}
.input_100p{width:100%; height:40px; background:#fff; border:1px solid #c1c8d1; text-indent:10px; box-sizing:border-box; font-size:13px; line-height:40px;}

	
/* 셀렉트박스  */
select {padding-left:0; font-size: 18px; border:1px solid #c1c8d1; border-radius:0px; background: url(/resources/images/common/input_selected.gif) no-repeat 95% 50%!important; -webkit-appearance: none; -moz-appearance: none; appearance: none; height:40px; line-height:40px; font-size: 13px;}
select::-ms-expand {display: none;}
select option{padding-left:10px;}
	
/*  m_navi  */
.top_m{display:none;}
.top_logo{display:none;}
.m_btn_logout{}
.m_btn_logout img{height: 1.4em; vertical-align: bottom; padding-left:10px;}
	
#header {position: relative;width: 100%; height:50px; border-bottom: 1px solid #ddd;}	
	
.do_m_menu_wrap{display:block;}	
.nav_user_box{padding:2em 1em 1em; background:#666666; vertical-align:bottom; font-size:1em; font-family: 'Waping'; color:#fff;}
.nav_tit{font-size:1em;}
.nav_tit a{color:#fff!important;}
.nav_user{font-size:1.5em; padding:0.2em 0;}
.nav_time{font-size:0.9em;}
.nav_service_box{padding:1.1em 1em 1em; background:#666666; vertical-align:bottom; font-family: 'Waping'; color:#fff; border-top:1px solid #a5a5a5;}
.nav_service_menu{width:100%; }
.nav_service_menu img{width:24%; }
.nav_service_menu ul li{width:32%; display:inline-block; text-align:center; font-family: 'Waping'; font-size:1em; }
.nav_service_menu ul li span.nav_service_menu_tit{display:block; margin-bottom:0.6em;}

.nav_service_menu ul li a{color:#fff!important;}
.nav_service_menu ul li span{display:block; text-align:center; margin-top:1em;}
.nav_menu_box{padding:1.5em 1.5em 0; }
.nav_menu_box ul li{padding-bottom:1em; font-size:0.9em;}
.nav_menu_box2{position:absolute; bottom:0; width:100%; }
.nav_menu_box2 ul li{width:33.3%; float:left; font-size:0.9em; text-align:center; vertical-align:middle; border-right:1px solid #999; border-top:1px solid #999; padding:4% 0; box-sizing:border-box;}
.nav_menu_box2 ul li:last-child{border-right:none;}
.nav_line{display:block; width:100%; border-bottom: 1px dotted #d4d4d4;}	
	
/* m_ani */
.do_m_menu_wrap{position:absolute; z-index:101; top:1.2%; left:2%;}
.navigation { float: left; }
.navigation nav ul {padding: 0px;margin: 0px;list-style: none;}
.navigation nav ul li a:hover {color: #441B0A;}
.do_m_menu, .mnuclose { }
.do_m_menu {color: #fff; line-height: 12px; padding: 10px;}
.do_m_menu img{width:30%; margin-top:7px;}
.mnuclose img{width:30%;}
.mnuclose {position:absolute; right:1em; top:1em; text-align:right;}
.navigation nav ul {overflow-y: auto;}
.mobimenu {list-style: none;padding: 20px;margin: 0px;width:85%; position: fixed;height: 100%;top: 0px;left: -85%;}
.mnuopn { left: 0px !important; /*왼쪽오른쪽 나오게하는*/}
.ovrActv {position: fixed;background: rgba(0, 0, 0, 0.5);width: 100%;height: 100%;z-index: 100;transition: 0.5s; -webkit-transition: 0.5s;-moz-transition: 0.5s;-ms-transition: 0.5s;-o-transition: 0.5s;}
.nav_btn_close{position:absolute; right:0; top:1em;}
.nav_btn_close button{background:#666; border:0;}
.nav_btn_close button img{width:40%;}

/*  main  */
.main_con{position:relative; width:100%; height:100%; background:none;}
.main_login_box{position:absolute; right:15px; top:100px; width:90%; margin: 0 auto; background: #fff;}
.main_login_box img{width:100%;}
.in_main_con {display: none; width:100%; position: relative;height: 320px;background:none;}	
.main_login_tab_1 {width: 100%;height: 70px;overflow: hidden;margin: 20px 0 0 0;}
.table_main .my_ser {width: 100%;}
.main_login_tab_1_tit {width:92%;padding:20px 0 20px 8%;float: left;color: #fff;font-family: 'Waping';background:#3c3c3c;font-size: 14px; font-weight: bold;}	
.main_login_tab_1_tit_s{font-size:12px; padding-left:0; font-weight:normal; display: block;}

	
/*서비스별 탭*/
.main_login_tab_1{width:100%; height:76px; overflow:hidden;  background:#3c3c3c;}
.main_login_tab_1_tit{width:100%;  padding:18px 0 10px 20px; float:left; color:#fff; font-family: 'Waping'; font-size: 18px;font-weight: bold; }
.main_login_tab_1_tit_s{font-size: 12px; padding-left:0px; font-weight:normal;}

.con_tab_area{width:100%;}
.con_menu_tab_wrap{background: #fff; padding:15px 0;}
.tabs {height:100%;width:100%; clear: both; display: inline-block; background: #f3f3f3; border: 1px solid #e2e2e2; box-sizing: border-box;}
.tabs ul li {float: left;text-align:center;cursor: pointer; width:50%;height:60px;line-height:60px; border: 1px solid #e2e2e2; background: #f3f3f3; vertical-align: bottom; box-sizing: border-box; margin-left:0; margin-top:-1px;}
.tabs ul li a{color:#333; font-size: 0.9em; padding: 6px 0 6px 30px;}
.tabs ul li:first-child{margin-left:0; width:50%;}
.tabs ul li.active {background: #284d9e; border:1px solid #284d9e;}
.tabs ul li.active a{color:#fff; font-weight: bold;}
.tabs ul li:hover{color:#5473e8;}
.tabs ul li i{display:inline-block; vertical-align: middle; font-size: 1.3em; margin-right:4px;}
.tabs ul li:nth-child(odd) {margin-left:0; border-left:none;}	
.tabs ul li:nth-child(even) {margin-left: -1px; border-right:none;}
.tabs ul li:last-child{border-bottom:none;}	
	
.table_main{width:100%;  height:100%; font-family: 'Waping';  font-size:15px; }
.tab_container{box-sizing: border-box; margin-top: -1px; }
.table_main_group .my_ser_wrap .my_ser{display: table; width:50%; padding-left: 1px; margin-left: -1px; margin-top: -1px; float:left; height:110px; border:1px dotted #e2e2e2; background-image: none; box-sizing: border-box; text-align: center;  background-position: left bottom; background-repeat: no-repeat;}
.table_main_group .my_ser_wrap .my_ser:nth-child(odd) {margin-left:0; border-left:none;}	
.table_main_group .my_ser_wrap .my_ser:nth-child(even) {border-right:none;}
	
.siteListbox {width: 50%;height:48px; margin:0 auto;}
	
/*content*/
.sub_visual01{width:90%; padding:10px 0; height:100%; margin:0 auto; color:#333; background:none;}
.sub_visual02{width:90%; padding:10px 0; height:100%; margin:0 auto; color:#333; background:none;}
.sub_visual03{width:90%; padding:10px 0; height:100%; margin:0 auto; color:#333; background:none;}
.sub_visual04{width:90%; padding:10px 0; height:100%; margin:0 auto; color:#333; background:none;}
.sub_visual05{width:90%; padding:10px 0; height:100%; margin:0 auto; color:#333; background:none;}
.sub_visual06{width:90%; padding:10px 0; height:100%; margin:0 auto; color:#333; background:none;}
.sub_visual07{width:90%; padding:10px 0; height:100%; margin:0 auto; color:#333; background:none;}
.visual_bg {width: 100%; height: 100%; border-bottom:1px solid #ddd; }
	
.content_box {width:90%; padding:5% 5% 0;}
.content_box .pa_t40{display:none;}	
.content_box02{width:90%; padding:0 5%; position:absolute; top: 0;bottom: 0;left: 0;right: 0; height: 450px; margin: auto;}

.in_main_login_box h3{font-size: 16px; font-family: 'Waping';}
.sub_visual_tit h2{font-size:20px; font-family: 'Waping';}
.sub_visual_tit h2{text-align:left!important;}
.sub_title_s h3{font-size:20px;  color:#262626; line-height:30px; font-family: 'Waping'; font-weight: normal;}
.sub_title_s5{padding:20px 0 10px;}
.sub_title_s5 h5{font-size:26px; font-family: 'Waping'; font-weight: normal;}

.sub_title_bar_bg{margin-bottom:10px;}	
	
.sub_visual_tit{font-size:20px; font-family: 'Waping'; font-weight: bold;}
.sub_title_s{font-size:16px;  color:#262626; line-height:30px; font-family: 'Waping'; padding-bottom:20px; }
.sub_visual_tit_s {padding-left:0; padding-top:2px; font-size: 11px; color: #333;font-family: 'Waping'; display: block;}	

.pa_b100 {padding-bottom:50px;}	
	
.personal_txt_wrap {font-size: 13px;}
.agreed_txt_wrap {font-size: 13px;}	
.agreed_txt_tit_s{font-size: 13px; font-weight: bold;}
	
/*디지털원패스란*/ 
.sub_img_bg1{display: none;}
.sub_img_bg1_m{display: block; text-align: center;}
.sub_img_bg1_m img{width:100%; }	

.sub_img_bg2{display:none;}
.sub_img_bg2_m{display: block; text-align: center;}
.sub_img_bg2_m img{width:60%; }
.sub_title_txt{padding:0 0 10px 0;}
		
.prc_tit_box_wrap{margin-top:10px;}
.prc_tit_box_wrap li{padding-bottom:10px;}
.prc_tit_box_wrap li {float: left;width: 50%; margin-bottom:20px; }
.prc_tit_box_wrap li:nth-child(2n) {border-right: none; }

	
	
.prc_tit_box_wrap02 li {float: none;width: 50%; padding:16px 0; margin: 0 auto; border-right: none;}
	
	
.prc_tit_box_wrap li span{vertical-align:top; }
.prc_tit_img{width:20%; height: 64px;  display:inline-block; zoom:1; *display:inline; zoom:1; margin: 0 auto;}
.prc_tit_img img{width:100%; max-width: 100px;}	
	
.prc_tit_txt{width:70%; padding-top:0; padding-left:3%; display:inline-block; zoom:1; *display:inline; vertical-align:top;}
.prc_tit_txt2{width:70%; padding-top:0; padding-left:3%; display:inline-block; zoom:1; *display:inline; vertical-align:top;}
.prc_tit_txt_s{padding-top:4px; display:inline-block; zoom:1; *display:inline; font-size: 12px;}

	
/*error*/
.icon_error img{width:40%;}
	
/* -------------------------  table ------------------------- */
.table_02_2{width:100%; font-family: 'Waping';  font-size:13px; border:1px solid #e4e7eb; line-height:26px;}
.table_02_2 tr th{background:#e3e3e3; color:#333;}
.table_02_2 tr td{height:50px; border:1px solid #e4e7eb; padding:4px 10px; text-align:left; }
.table_02_2 tr td:first-child{width:33%;}	
.table_02_2 span.phone_num_sel{display:inline-block; width:31%!important;}
.table_02_2 input.phone_num_sel01{display:inline-block; width:31%!important;}
.table_02_2 input.phone_num_sel02{display:inline-block; width:31%!important;}
.table_02_2 span{display:inline-block; vertical-align:middle;}
	
.form_id .pa_r10{display:none;}	
.form_id .btn_one_mini{width:100%; margin-top: 3px;}	
.form_id .btn_one_mini .btn_deepblue_s{padding: 0;}	 
		
.form_mail .pa_r10{display:none;}
.form_mail .btn_one_mini{width:100%; margin-top: 3px;}	
.form_mail .btn_one_mini .btn_deepblue_s{padding: 0;}	
	
.table_02_2 span.email_sel{display:inline-block; width:49%;}
.table_02_2 span.email_sel01{display:inline-block; width:48%;}
.table_02_2	.pa_r48{padding-right:0;}
.icon_notice_red_img{padding-top:6px;}	

.table_02_4{width:100%; font-family: 'Waping';  font-size:15px; border:1px solid #e4e7eb;}
.table_02_4 tr th{background:#e3e3e3; border:1px solid #c1c8d1; color:#333; padding:15px 0; font-size:15px; text-align:center; font-weight:normal;}
.table_02_4 tr td{background:#fff; border:1px solid #e3e3e3; padding:12px 12px; text-align:center; line-height:25px }

.table_04_3{width:100%; font-size:12px;}
.table_04_3 tr th{padding:8px 0; font-size:13px;}	
.table_04_3 tr td{padding:8px 10px; line-height:20px;}
.table_04_3 tr th:last-child{display: none;}
.table_04_3 tr td:last-child{display: none;}
	

.table_06_1{width:100%; font-size:12px;}
.table_06_1 tr th{padding:8px 0; font-size:13px;}	
.table_06_1 tr td{padding:8px 10px; line-height:20px;}
.table_06_1 tr th:last-child{display: none;}
.table_06_1 tr td:last-child{display: none;}
	
	
.table_06_2{width:100%; font-size:12px;}
.table_06_2 tr th{padding:8px 0; font-size:13px;}	
.table_06_2 tr td{padding:8px 10px; line-height:20px;}
	
.table_06_2 tr th:last-child{display: none;}
.table_06_2 tr td:last-child{display: none;}

	
		
.table_06_3{width:100%;  background:#fff; border:1px solid #c1c8d1; box-sizing:border-box; margin-bottom:6px;}
.table_06_3 tr{padding:1.5em 0; border-bottom:1px solid #c1c8d1}
.table_06_3 tr:last-child{border-bottom:none}
.table_06_3 tr th{background:#e3e3e3; border:1px solid #c1c8d1; color:#333; padding:15px 0; font-size:13px; text-align:center; font-weight:normal;}
.table_06_3 tr td{height:auto; padding:8px 1em; vertical-align:middle; border-right:none; font-size:12px; line-height: 15px; }
.table_06_3 tr td:first-child{font-family: 'Waping'; font-weight:normal; border-right:1px solid #c1c8d1; text-align:left; padding:0 0.8em;}
	
.table_06_3 tr th:nth-child(1){width:30%;}
.table_06_3 tr th:nth-child(2){width:30%;}
.table_06_3 tr th:nth-child(3){width:40%;}
.table_06_3 tr td:nth-child(1){width:30%;}
.table_06_3 tr td:nth-child(2){width:30%;}
.table_06_3 tr td:nth-child(3){width:40%;}
	
.table_06_3_m_tit{width:400px; background: #e3e3e3;}
.table_06_3_m_con{width:60%;}
	
	
.table_07_1{width:100%; font-family: 'Waping';  font-size:13px; border:1px solid none;}
.table_07_1 tr th{color:#444; padding:15px 0; font-size:13px; text-align:center; font-weight:normal; border:none; background:#ececec url(/resources/images/common/icon_bullet5.png) no-repeat left center; }
.table_07_1 tr th:nth-child(1){display: none;}
.table_07_1 tr td:nth-child(1){display: none;}

.table_07_1 tr th:nth-child(2){width:60%; background-image: none;}
.table_07_1 tr td:nth-child(2){width:60%}	
	
.table_07_1 tr th:nth-child(3){display: none;}
.table_07_1 tr td:nth-child(3){display: none;}

.table_07_1 tr th:nth-child(4){width:40%;}
.table_07_1 tr td:nth-child(4){width:40%}
	
.table_07_1 tr th:nth-child(5){display: none;}
.table_07_1 tr td:nth-child(5){display: none;}
.table_07_1 tr td{background:#fff; padding:10px 30px; text-align:center; line-height:25px; border-bottom:1px solid #c1c8d1;  }
.table_07_1 tr td.txt_left{text-align:left;}

.table_07_2{width:100%; font-family: 'Waping';  font-size:13px; border:1px solid none;}
.table_07_2 tr th{color:#444; padding:15px 12px; font-size:13px; text-align:center; font-weight:normal; border:none; background:#ececec url(/resources/images/common/icon_bullet5.png) no-repeat left center; }
.table_07_2 tr th:first-child{background-image:none; text-align:left; padding-left:20px;}
.table_07_2 tr td{background:#fff; padding:20px 30px; text-align:left; line-height:25px; border-bottom:1px solid #e5e5e5;  }


/* pageing */
.paging{ width:100%; padding:20px 0; text-align:center; position:relative; overflow:hidden; }
.paging span{display:inline-block; vertical-align:top;}
.paging span img{ vertical-align:middle; }
.paging span.num a:nth-child(6){display:none;}
.paging span.num a:nth-child(7){display:none;}
.paging span.num a:nth-child(8){display:none;}
.paging span.num a:nth-child(9){display:none;}

/* -- 자주하는 질문 -- */
.faq_con_box {margin-top:0; font-size: 15px;}
.faq_tab_1{width:100%;overflow:hidden}
.faq_tab_1 ul{padding:23px 0;border-width:1px 0}
.faq_tab_1 li{list-style:none;position:relative;top:-20px;float:left; width:33.3%; font-size:13px; box-sizing:border-box; padding:20px 0 0}
.faq_tab_1 li a{display:block; text-decoration:none;text-align:center; padding-top:60px; font-size: 15px;}


.faq_tab_1 li.faq_tab_icon01 a{background:url(/resources/images/qna/tab02_nor.png) no-repeat center top; background-size:70px;}
.faq_tab_1 li.faq_tab_icon01.active a{background:url(/resources/images/qna/tab02_ov.png) no-repeat center top; background-size:70px;}
.faq_tab_1 li.faq_tab_icon02 a{background:url(/resources/images/qna/tab03_nor.png) no-repeat center top; background-size:60px;}
.faq_tab_1 li.faq_tab_icon02.active a{background:url(/resources/images/qna/tab03_ov.png) no-repeat center top; background-size:60px;}
.faq_tab_1 li.faq_tab_icon03 a{background:url(/resources/images/qna/tab04_nor.png) no-repeat center top; background-size:60px;}
.faq_tab_1 li.faq_tab_icon03.active a{background:url(/resources/images/qna/tab04_ov.png) no-repeat center top; background-size:60px;}

.faq_box .panel-default{border:1px solid #e5e5e5; padding:0; background:#fff; margin-top:-1px;}
.faq_box .panel-heading{text-align:left; padding:14px 50px; background:#f5f5f5 url(/resources/images/common/icon_faq.png) no-repeat 16px 16px; background-size: 24px; }
.faq_box .panel-body{text-align:left; padding:14px 50px; line-height:24px; background:url(/resources/images/common/icon_faq2.png) no-repeat 16px 16px; background-size: 24px;}

	
/* -- 사이트맵-- */
.sitemap_box{padding:0;}
.sitemap_box ul{width:39%; display:inline-block; padding:0 5%; vertical-align:top; margin-top:20px; border-left:2px solid #e5e5e5;}
.sitemap_box ul:first-child{padding:0 5%;}
.sitemap_box ul li{line-height:40px;}
.sitemap_box ul li.sitemap_box_tit{font-size:20px; font-family: 'Waping'; font-weight:bold;}

		
/* -- 회원탈퇴 --*/
.out_box{text-align:center; font-size:13px; margin:10px 0;}
.out_box_img{padding-bottom:20px;}
	
	
/*btn*/
.btn_deepblue_s { background: #284d9e; color: #fff; padding:0 5px; font-size: 13px; text-decoration: none; vertical-align: middle; height:36px; line-height:36px; width:100%; display:block; text-align:center; margin:0 auto;}
.btn_wrap {text-align: center;padding:30px 0;}	

.btn_grey { background: #999; color: #fff; font-size:13px; text-decoration: none; vertical-align: middle; height:46px; line-height:46px; width:200px; display:block; text-align:center; margin:0 auto;}
.btn_deepblue { background: #284d9e; color: #fff; font-size: 13px; text-decoration: none; vertical-align: middle; height:46px; line-height:46px; width:200px; display:block; text-align:center; margin:0 auto;}

	
/*login*/
.login_box{width:100%; max-width:380px; margin:0 auto; height:auto; margin-top:0; margin-bottom:50px;}
.login_box02{width:100%; max-width:380px; margin:0 auto; height:auto; margin-top:10px; }

/* ID 3회 오류 추가정보 입력 안내 */
.login_info_check_content_box02 {width:90%; padding:0 5%; position:absolute; top: 0;bottom: 0;left: 0;right: 0; height: 450px; margin: auto;}
.login_info_check_login_box02 {width:90%; padding:0 5%; position:absolute; top: 0;bottom: 0;left: 0;right: 0; height: 450px; margin: auto;}
.login_info_check_login_box02 .login_box_info_check_sms_icon {margin-top: 20px; width: 20%;}
.login_info_check_login_box02 .login_box_info_check_mobile_icon {margin-top: 20px;}
.login_info_check_login_box02 .login_box_info_check_txt {text-align:center; font-size:18px; margin-bottom:15px;}
.login_info_check_login_box02 .login_box_info_check_txt2 {font-size:23px; margin-bottom:15px;}
.login_info_check_login_box02 .login_box_info_check_txt3 {text-align:center; font-size:18px;}
.login_info_check_login_input {position:relative; width:100%; float:left; left:0;}
	
.btn_two{margin-bottom: 5px;}	
.login_box div ul li{width:33.3%; float:left; margin-left:0; display:table; vertical-align:top; padding:10px 0; text-align: center; font-size: 0; border: 1px solid #c1c8d1; box-sizing: border-box;}
.login_box div ul li:first-child{margin-left:0; margin-right:0; border-left:1px solid #c1c8d1;}
.login_box div ul li:nth-child(2){border-left:none; border-right:none;}
.login_box div ul li a{font-size:12px; display: table-cell; vertical-align: middle;}
	
.login_box_setup {margin-top: 5px; height:40px;}

.digital_onepass_pop_btn_two{margin-bottom: 5px;}
.digital_onepass_service_add_icon{width:90%;}
.digital_onepass_service_add_txt{width:90%;}
.digital_onepass_modal_footer_box2_txt{width:90%;}
	
.login_box03{width:100%; max-width: 380px; margin:0 auto; height:100%; margin-top:60px;}
.login_box03 .login_box_setup {width:100%;}
.login_box03 .login_box_setup ul li{width:33.3%; float:left; margin-left:0; display:table; vertical-align:top; padding:10px 0; text-align: center; font-size: 0; border: 1px solid #c1c8d1; box-sizing: border-box;}
.login_box03 .login_box_setup ul li:first-child{float:left; border-left: 1px solid #c1c8d1;}	
.login_box03 .login_box_setup ul li:nth-child(2){border-left:none; border-right:none;}
.login_box03 .login_box_setup ul li a{font-size:12px; display: table-cell; vertical-align: middle;}
	
.login_box_btn_two_back{width:50%; height:50px;  float: left; margin-top: 5px;}
.login_box_btn_two_ok{width:50%; height:50px; float: right; margin-top: 5px;}	
.login_box_btn_deepblue{ background: #284d9e; color: #fff; font-size: 13px; text-decoration: none; vertical-align: middle; height:50px; line-height:50px; width:100%; display:block; text-align:center; margin:0 auto;}
.login_box_btn_grey { background: #767676; color:#fff!important; font-size: 13px; text-decoration: none; vertical-align: middle; height:50px; line-height:50px; width:100%; display:block; text-align:center; margin:0 auto;}	
.info_txt02{padding-top: 10px;}
.info_txt02 span{display: block; margin-top: 10px;}

	
.placeholder{color:#838383; font-size:13px;}
	
/* -- join_01 Step01 본인확인 및 약관동의 -- */
.join_step01{width:100%; margin:0 auto;}
.join_step01 img{width:100%;}
	
.join_certi_icon_box_wrap {height:auto;display: block;padding-top: 20px;}	
.join_certi_icon_box{width:100%; text-align:center; float:none; display: block; height:auto; padding:0 0 40px; vertical-align:top; }
.agree_bg{position:relative; width:90%; border:1px solid #c1c8d1;; padding:14px 14px; margin-top:-1px; line-height:22px;}
.agree_check_box{}
.agree_check_box {padding:10px 20px 0;}
.agree_box{display:block; margin-top:-10px;}

#popup1{width:90%!important; }	
		
.agree_bg:first-child div{width:100%;}
.agree_bg div{width:70%; }	
.agree_btn {position: absolute;right:0;  top:6px; bottom:0; height:26px; margin: auto; padding: 10px; display: block;}	
.agree_bg div label	{line-height:22px!important; padding:0 10px 0 40px!important; }
.agree_bg div label .pa_r10{display:none;}

	
	
	
/* --- agree btn --- */
.agree_btn_deepblue { background: #767676; color: #fff; font-size: 12px;  text-decoration: none; vertical-align: top; height:26px;line-height:20px; padding:4px 6px; }	
	
/* 인증수단 선택 */
.certi_icon_box_wrap{}
	.certi_icon_box{padding: 20px 0 18px;}
.certi_icon_group .certi_icon_box{width:48%; height:100px; min-width:92px; text-align:center; display:inline-block; padding: 20px 0 18px; vertical-align:top;}
.certi_icon_group02_wrap .certi_icon_box{width:48%; height:130px; min-width:92px; text-align:center; display:inline-block; padding: 20px 0 18px; vertical-align:top;}
	
.certi_icon_box img{width:50px; height: 50px;}
.certi_icon_group .certi_icon_box p.pa_h50{height:0px;}
	
.certi_icon_box02{width:100%; min-width:110px; text-align:center; display:inline-block; padding:20px 0 20px; margin-bottom:1%; vertical-align:top;}
.certi_icon_box02 img{width:50px; height: 50px;}
	
.join_step_box{display:none;}	
	
/* 정보입력 */
.width_33_left{width:32%; float:left;}
.input_phone_num {width: 32%;background: #fff;border:1px solid #c1c8d1;;text-indent: 1em;box-sizing: border-box; height: 40px;}
.input_49{width:49%; background:#fff; border:1px solid #c1c8d1; text-indent:1em; box-sizing:border-box; height: 40px;}
.width_49_right {width: 49%;float: right;}
.input_66 {width: 60%;background: #fff;border: 1px solid #c1c8d1;text-indent: 1em;box-sizing: border-box; height: 40px;}
.width_32_right{width:38%; float:right;}
.width_32_right span{display:block!important;}
.width_32_right p.blue_search_btn button{width:100%; height:40px; }
.width_32_right p.blue_search_btn button span{font-size: 13px; line-height:38px; text-align: center;}	
	
.blue_search_btn button span {font-size: 13px;color: #fff;}
.blue_search_btn button:hover {background: #112b62;}
.blue_search_btn button {width: 100%;padding: 0.15em 0 0.3em;border: 0;cursor: pointer;background: #284d9e;display: table-cell;vertical-align: top;text-align: center;}			

.id_email_txt{display:none;}

.notice_certi {color: #2879ff;padding-left:18px;font-family: 'Waping';background: url(/resources/images/common/icon_notice.png) no-repeat 2px 2px;background-size: 13px;}	
.push_box{width:250px; margin:0 auto;}
.push_box .notice_push_wrap{margin-top:0;}
		
	
/* footer */
.footer_wrap{width:100%; background:#fff; color:#333; border-top:1px solid #c1c8d1;;}
.footer_agree{width:90%; padding: 0 5%; background:#fff; height:100%;}

.footer_body{width:90%; padding: 0 5% 3%; background:#fff; height:100%; }
.footer_con{width:90%; padding:0 5%; font-size: 12px;}
	
.footer_box{ width:100%; clear:both; padding-top:0;}
.footer_logo{display: none;}
.footer_text{ float:none; width:100%; font-size:12px; font-family: 'Waping';}

.footer_con_nav li{display:inline-block; line-height:30px; padding-right:10px;}
.footer_con_nav_bd a{font-family: 'Waping';}	

/*팝업_오버레이*/
.modal-box {display:none; position:fixed; width:80%; top: 0;bottom: 0;left: 0;right: 0; height:290px; margin: auto; z-index: 9999999; background: white;border-bottom: 1px solid #aaa;box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);border: 1px solid rgba(0, 0, 0, 0.1);background-clip: padding-box; text-align:center;}
.modal-box2{display:none; position:fixed; width:80%; top: 0;bottom: 0;left: 0;right: 0; height:560px; text-align:center;}

.pop_btn_two{display:inline-block; zoom:1; *display:inline; height:46px; width:49%; vertical-align:top;}
	
.pop_btn_grey { background: #999; color: #fff; font-size: 15px; text-decoration: none; vertical-align: middle; height:46px; line-height:46px; width:100%; display:block; text-align:center; margin:0 auto;}
.pop_btn_deepblue { background: #284d9e; color: #fff; font-size: 15px; text-decoration: none; vertical-align: middle; height:46px; line-height:46px; width:100%; display:block; text-align:center; margin:0 auto;}

}


@media only screen and (max-width:600px) {
.nav_service_menu img{width:35%; }
.prc_tit_box_wrap li {float: none;width: 235px; height: 100%; padding:16px 0; margin: 0 auto; border-right: none;}
.prc_tit_box_wrap02 li {float: none;width: 235px; padding:16px 0; margin: 0 auto; border-right: none;}
.certi_icon_box_tit h4 {font-size: 16px;}
.certi_icon_box_icon img {width: 16px;}	
	
	
	
}

@media only screen and (max-width:330px) {
.login_box03 .login_box_setup ul li{width:33.3%; height:50px; padding: 4px 0; margin-bottom:8px;}
.login_box div ul li{width:33.3%; height:50px; padding: 4px 0; margin-bottom:8px;}	
}
	
	
	
	
	
	